@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    color: #163cd5;
    background-color: #c3ffff;
    overflow: hidden;
}

/* GERAL */
span{
    color: #c3ffff;
    text-shadow: 0 0 7px #0554F2;
    transition: .3s;
}

.line{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0554F2;
    height: 1px;
    margin-top: 20px;
}
/* FIM GERAL */

/* HEADER */
header.header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 5px 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo{
    font-size: 32px;
    text-decoration: none;
    font-weight: 700;
    color: #010A26 ;
    filter: drop-shadow(0 0 5px #e4e4e5);
    transition: .5s;
    cursor: pointer;
}

header .logo:hover{
    letter-spacing: 3px;
}

header .navbar a{
    font-size: 16px;
    text-decoration: none;
    color: #010A26;
    font-weight: 600;
    transition: .3s;
}

header .navbar a.sobre-section.active{
    color: #0554F2;
}

header .navbar a.home-section.active{
    color: #0554F2;
}

header .navbar a:hover{
    color: #0554F2;
    transform: scale(1.05);
    letter-spacing: 1px;
}

header .navbar{
    display: flex;
    gap: 50px;
}

header span{
    filter: drop-shadow(0 0 10px #0554F2);
}
/* FIM HEADER */

.main{
    min-height: 100vh;
    transition: .5s ease;
    pointer-events: auto;
    background: url(media/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

/* SOBRE */
/* .sobre{
    height: 100vh;
    width: 200%;
    background-color: red;
    position: absolute;
    top: 100vh;
    transition: .20s ease-in;
}

.sobre.active{
    top: 0vh;
} */
/* FIM SOBRE */

.box-hidden{
    display: flex;
    height: 0vh;
    width: 0vh;
    background-color: #010a26;
    transition: .5s ease-in;
    transition-delay: .1s; 
}

.box-hidden.active{
    position: absolute;
    width: 220vh;
    height: 100vh;
}

.main.active{
    filter: blur(7px);
    content: '';
    pointer-events: none;
}
/* FIM MAIN */

/* QUIZ PART */
.conteiner{
    display: inline-flex;
    justify-content: space-between;
    height: 100vh;
    width: 200%;
    position: relative;
}

.quiz{
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #010a26;
    position: fixed;
    left: -50%;
    transition: .5s ease-in;
    transition-delay: .1s;
    text-shadow: 0 0 5px #c3ffff;
    padding-top: 30px;
    opacity: 0;
    
    /* padding-bottom: 80px; */
}

.quiz .box{
    border: 2px solid #0554F2;
    padding: 20px 3%;
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
}

.quiz .box.active{
    transition: .40s ease;
    transition-delay: 0.80s;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.quiz.active{
    z-index: 1;
    opacity: 1;
    left: 0%;
}

.quiz .quiz-header{
    text-align: center;
    background-color: black;
    border-radius: 7px;
}

.quiz .quiz-box{
    display: flex;
    flex-direction: column;
}
 
.quiz .quiz-footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.quiz .quiz-footer button{
    height: 6vh;
    width: 15vh;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid #c3ffff;
    cursor: pointer;
    color: #fff;
    pointer-events: auto;
    transition: .5s ease;
}

.quiz-footer button.desative{
    pointer-events: none;
}

.quiz .quiz-footer button:hover{
    background-color: #0554F2;
    font-weight: 700;
}

.score-box {
    background-color: #0554F2;
    height: 20%;
    width: 30vh;
    border-radius: 7px;
    padding: 2% 0;
    margin: 2% 0;
    text-align: center;
    border: 2px solid #c3ffff;
}

.box h2.question-txt{
    border: 2px solid #0554F2;
    font-size: 120%;
    padding: 2% 2%;
    width: 350px;
    display: flex;
}

.box .option-list p{
    border: 2px solid #0554F2;
    font-size: 100%;
    padding: 2% 2%;
    margin-top: 5px;
    transition: .3s ease;
}

.box .option-list.answerUser{
    pointer-events: none;
}

.box .option-list.answerUser2{
    pointer-events: auto;
}

.box .option-list p.correct{
    border: 2px solid greenyellow;
    
    /* pointer-events: none; */
}

.box .option-list p.correct:hover{
    border: 2px solid greenyellow;
}

.box .option-list p #wrong{
    border: 2px solid red;
    /* pointer-events: none; */
}

.box .option-list p:hover{
    background-color: #0554f265;
    border-color: #0554f265;
    cursor: pointer;
}

.btn-close-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-close{
    width: 100px;
    height: 40px;
    font-size: 16px;
    box-shadow: 0 0 10px #09001d9c;
    cursor: pointer;
    border-radius: 7px;
    background-color: transparent;
    border: 2px solid #c3ffff;
    color: #fff;
    justify-content: center;
    text-shadow: 0 0 10px #c3ffff;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transform: scale(.9);
}

.btn-close.active{
    transition: .40s ease;
    transition-delay: 0.85s;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}
/* FIM QUIZ PART */

/* HOME */
section.home{
    width: 100%;
    padding: 3% 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: transparent;
    height: 100vh;
}

.home .home-content{
    display: flex;
    height: 80vh;
    width: 120vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.home .home-content h1{
    color: #010A26;
    font-weight: 2000;
    font-size: 40px;
    text-shadow: 0 0 10px #c3ffff;
    padding: 10px 10px;
}

.home .home-content h1 span:hover{
    letter-spacing: 2px;
}

.home .home-content p{
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    color: #000;
}

.home .home-content .paragrafo{
    background-color: #b8deffd7;
    border-radius: 6px;
    padding: 10px 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 30px #0554F2;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home .home-content button{
    width: 190px;
    height: 55px;
    background-color:#0554F2;
    font-size: 30px;
    border-radius: 6px;
    color: #fff;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
    position: relative;
    border: none;
}

.animation{
    display: flex;
    justify-content: center;
    align-items: center;
}

section.home .home-content .animation::before{
    position: absolute;
    content: '';
    background-color: red;
    width: 190px;
    height: 55px;
    border-radius: 6px;
    z-index: 0;
    animation: animate 2s linear infinite;
    transition: 0.7s;
}

section.home .home-content .animation:hover::before{
    width: 195px;
    height: 60px;
}

section.home .home-content button:hover{
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    box-shadow: 0 0 10px #000000;
    background-color: #c3ffff;
}

@keyframes animate {
    50%{
        filter: hue-rotate(350deg);
    }
}
/* FIM HOME */

/* POP UP INFORMATION */
.popup-info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 550px;
    height: 370px;
    background-color: #ffffffc1;
    border-radius: 6px;
    padding: 5px 2%;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2{
    font-size: 50px;
    color: #0554F2;
}

.popup-info span.info{
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    margin: 4px 0;
    justify-content: center;
    align-items: center;
    color: #09001d;
    font-weight: 600;
    text-shadow: none;
}

.popup-info .btn-group button{
    width: 150px;
    height: 60px;
    font-size: 20px;
    box-shadow: 0 0 10px #09001d9c;
    cursor: pointer;
    border-radius: 7px;
}

.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
    padding: 1.5% 0;
    margin-top: 10px;
}

.popup-info .btn-group a{
    text-decoration: none;
    color: #fff;
    border: 2px solid #010A26;
    width: 150px;
    height: 30px;
    background-color: #0554F2;
    outline: none;
    font-weight: 600;
    text-align: center;
    transition: .5s;
    box-shadow: 0 0 10px #163cd5;
    margin-top: 10px;
}

.popup-info .btn-group a:hover{
    background-color: transparent;
    box-shadow: 0 0 10px #0554F2;
    color: #09001d;
}

.popup-info .btn-group .info-btn:nth-child(1){
    background-color: transparent;
    color: #0554F2;
    transition: .5s;
}

.popup-info .btn-group .info-btn:nth-child(1):hover{
    background-color: #0554F2;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
    background-color: #163cd5;
    color: rgb(255, 255, 255); 
}